<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag movie.poster_image_url.thumb.to_s %>
    <div class="caption">
      <h3><%= movie.title %></h3>
      <p><strong>Director: </strong><%= movie.director %></p>
      <p><strong>Release Date: </strong><%= formatted_date(movie.release_date) %></p>
      <p><%= link_to "See More", movie_path(movie), class: "btn btn-primary" %></p>
    </div>
  </div>
</div>