<h1>All Movies</h1>
<%= link_to "Add a movie!", new_movie_path %>
<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <p>Director: <%= movie.director %></p>
  <p>Runtime: <%= movie.runtime_in_minutes %> minutes</p>
  <p>Description: <%= movie.description %></p>
  <p>Release Date: <%= formatted_date(movie.release_date) %></p>
  <p><a href="<%= movie.poster_image_url %>">See the poster</a></p>
<% end %>