<div class="container">
<h1>All Movies</h1>
<%= form_tag("/movies/search", method: 'get') do %>
  <%= label_tag(:title, "Search:") %>
  <%= text_field_tag(:title) %>
  <%= select_tag :length, options_for_select([ ["Under 90 mintues", 90], ["Between 90 to 120 mintues", 120], ["Over 120 minutes", 121]]) %>
  <%= submit_tag("Search") %>
<% end %>
<br/>
<div>
<button type="button" class="btn btn-info"><%= link_to "Add a movie!", new_movie_path %>
</button>
</div>
<% @movies.each do |film| %>
  <%= render partial: 'movie', locals: {movie: film} %>
<% end %>
  <div class='row'>
    <%= paginate @movies %>
  </div>
</div>
