<h1>Create a new movie </h1>
<%= form_for @movie do |f| %>
  <div>
    <%= f.label "Title" %>
    <%= f.text_field "title" %>
  </div>

  <div>
    <%= f.label "Director" %>
    <%= f.text_field "director" %>
  </div>

  <div>
    <%= f.label "Runtime in Minutes" %>
    <%= f.number_field "runtime_in_minutes" %>
  </div>

  <div>
    <%= f.label "Description" %>
    <%= f.text_area "description" %>
  </div>

  <div>
    <%= f.label "Release Date (MM-DD-YYYY)" %>
    <%= f.text_field "release_date" %>
  </div>

  <div>
    <%= f.label "Poster Image URL" %>
    <%= f.text_field "poster_image_url" %>
  </div>

  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>