<%= link_to "Back to all movies", movies_path %>

<h2><%= @movie.title %> <small>(<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), :method => :delete, :"data-confirm" => "You sure?" %>)</small></h2>

<p>Director: <%= @movie.director %></p>

<p>Runtime: <%= @movie.runtime_in_minutes %> minutes</p>

<p>Description: <%= @movie.description %></p>

<p>Release Date: <%= formated_date(@movie.release_date) %></p>

<p><a href="<%= @movie.poster_image_url %>">See the poster</a></p>

<% if current_user %>
  <% if @movie.reviews.count > 0 %>
    <h4>Average Rating: <%= @movie.review_average %>/10</h4>
  <% else %>
    <h5>This movie has no reviews!</h5>
  <% end %>
  <% @movie.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %></p>
    <small> - <%= review.user.full_name %> </small>
  <% end %>
  <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews for this film.</p
<% end %>