<h1> Edit <%= @user.full_name %>'s Account </h1>
<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="errors">
      <%= pluralize(@user.errors.count, "error") %> prevented you from creating you account.
      <ul>
        <%= @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label "Email Address" %>
    <%= f.text_field "email" %>
  </div>

  <div>
    <%= f.label "First Name" %>
    <%= f.text_field "firstname" %>
  </div>

  <div>
    <%= f.label "Last Name" %>
    <%= f.text_field "lastname" %>
  </div>

  <div>
    <%= f.submit "Update your account!" %>
  </div>

<% end %>